@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
$icon-font-path: "public/fonts/";

#logs {
  height: 200px;
  overflow: scroll;
  overflow-x:hidden;
}
.form-inline {
  input.form-control + .btn {
    @media (min-width: $screen-xs-max) {
      margin-left: 4px;
    }
  }
}
.pkg-list {
  .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn {
    margin-top: -7px;
  }
}
