@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
$icon-font-path: "public/fonts/";

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
i + span {
  margin-left: 8px;
}
#appView {
  top: 40px;
  position: relative;

  #contentAppShow {
    position: absolute;
    top: 0;
    bottom: 999px;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #ddd;

    iframe {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    .btn-notshow-app {
      position:absolute;
      top: 0;
      right: 0;
    }
  }
  #contentLeft {
    position: relative;
    width: 15%;

    #tree {
      overflow: scroll;

      .node-tree {
        white-space: nowrap;
      }
    }
  }
  #contentPrimary {
    height: 100%;
    width: 85%;

    #rowPrimary {
      height: calc(80%);
      margin-bottom: 15px;

      & > * {
        display: inline-block;
        height: 100%;
        vertical-align: top;
      }
      #view {
        position: relative;
        width: 70%;

        #fileView {
          overflow: auto;

          #fileActions {
            position: absolute;
            top: 0;
            right: 12px;
            z-index: 1;
          }
        }
        #folderView {
          position: relative;
          height: 100%;
          margin-left: 15px;

          #folderActions {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      #config {
        width: calc(30% - 15px);
        margin-left: 15px;
        overflow: auto;

        #accordion {
          margin-bottom: 0;
        }
      }
    }
    #rowfooter {
      height: calc(20% - 15px);

      #logs {
        height: 100%;
        margin: 0;
        overflow: scroll;
        overflow-x:hidden;
        background-color: #000;
        color: #fff;
      }
    }
  }
}
.form-inline {
  input.form-control + .btn {
    @media (min-width: $screen-xs-max) {
      margin-left: 4px;
    }
  }
}
.navbar {
  min-height: 40px;
}
.breadcrumb {
  margin-top: 20px;
}
.btn + .btn {
  margin-left: 4px;
}
.title-app {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;

  &::first-letter { text-transform: uppercase; }
}
.pkg-list {
  .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn {
    margin-top: -7px;
  }
}
#project-list .list-group-item {
  .list-inline {
    display: inline;
    margin-left: 15px;
  }
}

.treeview span.icon {
  font-size: 80%;
}
.margin-bottom {
  margin-bottom: 10px;
}
.position-full {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.no-margin-side {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
.no-gutter-left {
  padding-left: 0;
}
.no-gutter-right {
  padding-right: 0;
}
.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.row-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.primary-title {
  h1 {
    font-size: 18px;
  }
}
.page-actions {
  padding-top: 8px;
}
.flexbox {
  display: flex;

  &.space-around {
    justify-content: space-around;

    .item {
      flex: auto;
    }
  }
}
