@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
$icon-font-path: "public/fonts/";

#logs {
  height: 200px;
  overflow: scroll;
  overflow-x:hidden;
}
.form-inline {
  input.form-control + .btn {
    @media (min-width: $screen-xs-max) {
      margin-left: 4px;
    }
  }
}
.pkg-list {
  .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn {
    margin-top: -7px;
  }
}
.treeview span.icon {
  font-size: 80%;
}
.margin-bottom {
  margin-bottom: 10px;
}
.no-gutter-left {
  padding-left: 0;
}
.no-gutter-right {
  padding-right: 0;
}
