doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="stylesheet", href="/style.css")
    script.
      window.ROOM = '';
  body
    .container
      ul.nav.nav-pills
        li: a(href="/projects") Projects
        li: a(href="/projects/new") New
      block content
      
    script(src="/vendor.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/app.js")
