doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="stylesheet", href="/dist/app.css")
    script.      
      window.ROOM = '';
      window.TreeDir = {};
  body
    .navbar.navbar-default
      .flexbox.space-around
        ul.nav.nav-pills.item.text-left
          li: a(href="/projects") Projects
          li: a(href="/projects/new") New
        .primary-title.item.text-center
          block title
        .page-actions.item.text-right
          block actions
          
    block content
    
    script(src="//localhost:35729/livereload.js")
    script(src="/vendor/build.js")
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/ace/ace.js")
    script(src="/vendor/ace/ext-language_tools.js")
    script(src="/dist/app.js")
