extends ../layout

block content
  .container
    .page-header
      h1 Projects
    ul#project-list.list-group
      each project in projects
        li.list-group-item
          a.title-app(href="/projects/" + project)= project
          a.btn.btn-xs.btn-danger(href="/projects/" + project + "/delete") Delete 
          .pull-right(data-project= project)
            strong Running:
            ul.list-inline
