extends ../layout

block title
  h1.title-app Projects
  
block content
  .container
    table.table.monitor
      thead: tr
        th CPUs usage
        th Total memory used
        th Free memory
        th Total memory
      tbody: tr
          
    ul#project-list.list-group
      each project in projects
        li.list-group-item
          a.title-app(href="/projects/" + project)= project
          a.btn.btn-xs.btn-danger(href="/projects/" + project + "/delete") 
            span Delete 
            i.glyphicon.glyphicon-trash
          .pull-right.processes(data-project= project)          
            strong Running:
            ul.list-inline.processing
