extends ../layout

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  #appView.row.row-height.position-full.no-margin-side
    .col-sm-3.no-gutter-right.bordered
      #tree.position-full
    #contentPrimary.col-sm-9
      .row
        .col-sm-12
          h1.title-app= capitalize(infos.name)
          a.btn.btn-xs.btn-danger(href="/projects/" + infos.name + "/delete") Delete 
      #rowPrimary.row.row-height
        #view.col-sm-8
          #fileView(style="display:none;").position-full.bordered
            #editor.position-full
            ul#fileActions.list-inline
              li: button.btn.btn-xs.btn-primary.btn-edit-file Edit
              li: button.btn.btn-xs.btn-primary.btn-delete-file Delete
          #folderView
            h2 Folder: /
            ul#folderActions.list-inline
              li: button.btn.btn-link(data-toggle="modal", data-target="#modalNewFolder") New folder
              li: button.btn.btn-link(data-toggle="modal", data-target="#modalNewFile") New file
              li: button.btn.btn-link.btn-delete-folder Delete folder
            
            #modalNewFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-add-folder Create
                  
            #modalNewFile.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New file
                  .modal-body
                    form
                      .form-group
                        label File name
                        input.form-control.input-lg(type="text", name="fileName")
                      .form-group
                        button.btn.btn-primary.btn-add-file Create
                  
        #config.col-sm-4.no-gutter.bordered
          include ./config.jade
      #logs.well
                  
    
