extends ../layout

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  #appView.row.row-height.position-full.no-margin-side
    #contentLeft
      #tree.position-full.bordered
    #contentPrimary
      #rowHeader
          h1.title-app= capitalize(infos.name)
          a.btn.btn-xs.btn-danger(href="/projects/" + infos.name + "/delete") Delete 
      #rowPrimary
        #view
          #fileView(style="display:none;").position-full.bordered
            #editor.position-full
            ul#fileActions.list-inline

          #folderView
            h2 Folder: /
            ul#folderActions.list-inline.text-center
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFolder")
                i.glyphicon.glyphicon-folder-close 
                span New folder
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFile")
                i.glyphicon.glyphicon-file
                span New file
              li: button.btn.btn-lg.btn-link.btn-delete-folder
                i.glyphicon.glyphicon-folder-close
                span Delete folder
            
            #modalNewFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-add-folder Create
                  
            #modalNewFile.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New file
                  .modal-body
                    form
                      .form-group
                        label File name
                        input.form-control.input-lg(type="text", name="fileName")
                      .form-group
                        button.btn.btn-primary.btn-add-file Create
                  
        #config.bordered
          include ./config.jade
      #rowfooter
        #logs.well
                  
    
