extends ../layout

block title
  h1.title-app= capitalize(infos.name)

block actions
  if infos.urlLocal
    a.btn.btn-xs.btn-primary.btn-show-app(href=infos.urlLocal)
      i.glyphicon.glyphicon-eye-open 
      span Show
  a.btn.btn-xs.btn-danger(href="/projects/" + infos.name + "/delete") 
    i.glyphicon.glyphicon-trash
    span Delete
  a.btn.btn-xs.btn-success.btn-ajax(href="/projects/" + infos.name + "/packages?action=install")
    i.glyphicon.glyphicon-circle-arrow-down
    span Install

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  #appView.row.row-height.position-full.no-margin-side
    if infos.urlLocal
      #contentAppShow.hide
        button.btn.btn-lg.btn-link.btn-notshow-app: i.glyphicon.glyphicon-eye-close
    #contentLeft
      #tree.position-full
    #contentPrimary
      #rowPrimary
        #view
          #fileView(style="display:none;").position-full
            #editor.position-full
            ul#fileActions.list-inline

          #folderView
            .breadcrumb
            ul#folderActions.list-inline.text-center
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFolder")
                i.glyphicon.glyphicon-plus 
                span New folder
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFile")
                i.glyphicon.glyphicon-file
                span New file
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalRenameFolder")
                i.glyphicon.glyphicon-pencil
                span Rename folder
              li: button.btn.btn-lg.btn-link.btn-delete-folder
                i.glyphicon.glyphicon-trash
                span Delete folder
            
            #modalNewFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-add-folder Create
                  
            #modalNewFile.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New file
                  .modal-body
                    form
                      .form-group
                        label File name
                        input.form-control.input-lg(type="text", name="fileName")
                      .form-group
                        button.btn.btn-primary.btn-add-file Create
                        
            #modalRenameFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 Rename folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-rename-folder Rename
                  
        #config
          include ./config.jade
      #rowfooter
        #logs.well
                  
    
