extends ../layout

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  .row.row-height
    .col-sm-3.no-gutter-right
      #tree
    .col-sm-9
      .row
        .col-sm-12
          h1.title-app= capitalize(infos.name)
          a.btn.btn-xs.btn-danger(href="/projects/" + infos.name + "/delete") Delete 
      .row.row-height
        #view.col-sm-8
          #fileView
        .col-sm-4.no-gutter-left
          include ./config.jade
      .row
        .col-xs-12
          #logs.well
    
