extends ../layout

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  #appView.row.row-height.position-full
    .col-sm-3.no-gutter-right.bordered
      #tree.position-full
    #contentPrimary.col-sm-9
      .row
        .col-sm-12
          h1.title-app= capitalize(infos.name)
          a.btn.btn-xs.btn-danger(href="/projects/" + infos.name + "/delete") Delete 
      #view.row.row-height
        .col-sm-8
          #fileView.position-full.bordered
        #config.col-sm-4.no-gutter-left.bordered
          include ./config.jade
      #logs.well
                  
    
