@media screen and (max-width: 991px) {
  #appView {
    #contentLeft {
      z-index: 20;
      position: fixed;
      top: 40px;
      bottom: 0;
      left: -250px;
      width: 250px;
    }
    #contentPrimary {
      width: 100%;

      #rowPrimary {
        #config {
          display: none;
          z-index: 20;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background-color: #000;
        }
        #view {
          width: 100%;

          #fileView {
            #fileActions {
              top: initial;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .btn + .btn {
    margin-left: 8px;
  }
  .console { max-height: 255px; }
  .page-actions {
    padding-top: 2px;

    .btn-tree { display: inline-block; }
  }
}
@media screen and (max-height: 600px), (max-width: 480px) {
  #appView {
    #contentPrimary {
      #rowPrimary { height: 100%; }
      #rowFooter {
        height: 0%;

        .btn-show-console, #logs { display: none; }
      }
    }
  }
}
